@import '../../../../../utils/_variables.scss';
$bar-width: 1.4em;
$bar-height: 0.13em;
.sidebar__toggle {
    display: block;
    margin: 0;
    padding: 0;
    padding: 1vw;
    cursor: pointer;
    z-index: 999;
    .sidebar__toggle--bar {
        display: block;   
        margin: 0;
        padding: 0;
        margin: 0.3em 0em;
        width: $bar-width;
        height: $bar-height;
        background-color: $white;
        transition: 0.3s;
    
    }
    .sidebar__toggle--bar:last-of-type {
        width: calc(#{$bar-width} - 25%);
        margin-left: auto;
    }
}
.sidebar__toggle:hover {
    .sidebar__toggle--bar:last-of-type {
        width: $bar-width;
    }
} 
.sidebar__toggle--active {
    .sidebar__toggle--bar:first-of-type {
        transform: translateY(0.24em) rotate(45deg);
    }
    .sidebar__toggle--bar:nth-of-type(2) {
        transform: translateY(-0.24em) rotate(-45deg);
    }
    .sidebar__toggle--bar:last-of-type {
        transform: scale(0);
    }
}
