@import '../../../../utils/_variables.scss';
.header__logo {
    margin: 0;
    padding: 0;
    margin: 3vw;
    padding: 1vw;
    color: $white;
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    font-size: $font-default-size;
    cursor: pointer;
}
.header__logo::after {
    content: '';
    display: block;   
    margin-top: 0.4em;
    width: 25%;
    height: 0.05em;
    background-color: $white;
    transition: 0.75s ease;
}
.header__logo:hover::after {
    width: 100%;
}